.submit-form {
  text-align: center;
  padding: 60px 20px;
}

form input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #ff7f3e;
  color: white;
  border-radius: 10px;
}
